<div class="key"></div>
<p class="byline brandon">BE THE FIRST AND GET EXCLUSIVE DISCOUNTS AND PRODUCT</p>
<%= form_for @user, :url => { :action => "create" } do |f| %>
  <%= f.text_field :email, :placeholder => "Enter Email", :class => "email brandon" %>
  <input class="submit brandon" name="commit" type="submit" value="I WANT TO KNOW MORE" />
<% end %>